$sidebarAndHeaderZIndex: 2;
$sidebarOverlayZIndex: 1;
$defaultZIndex: 0;

$headerHeight: 60px;
$sideBarWidth: 260px;

$bgMain: theme("colors.appBg");
$bgHeader: theme("colors.primary");
$bgSidebar: theme("colors.primaryDark");
